################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyGraphics
/Common/Debug
/Debug/*.pdb
/SISASG/Debug
/Debug/*.ilk
